section{
    margin-top: $m-size;
}
.itemProfile{
    text-align: center;
}
.userName h1{
    text-align: center;
    margin: $s-size 0;
}
.infomation{
    text-align: center;
    margin-bottom: $m-size;
}